@media screen and (min-width: 376px) {
    #animais {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1px;
        gap: 5px;
        transition: all 0.3s ease;
    }

    .tituloanimais {
        text-align: center;
        font-size: 35px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

    /* início do professor alterando os animais */
    .animal {
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        text-align: center;
        font-size: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: #fff;  
        transition: all 0.3s ease;
        }

        .animal:hover {
            transform: scale(0.9);
            transition: all 0.3s ease;
            }

        .amarelo {
            background-color: #e7b902;
            }

        .rosa { 
            background-color: #f03cc3;
            }

        .vermelho {
            background-color: #ff3845;
            }

        .lilas {
            background-color: #8f4af7;
            }

        .azul {
            background-color: #01a5fc;
            }

        .verde {
            background-color: #0ecc6a;
            }

        h2 {
            font-size: 24px;
            }

        h3 {
            margin-top:-20px;
            font-size: 16px;
            font-weight: lighter;
            }

    /* fim do professor alterando os animais */

    a {
        text-decoration: none;
        text-transform: none;
        }
}

@media screen and (min-width: 768px) {
    #animais {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1%;
        gap: 10px;
    }
}

@media screen and (min-width: 992px) {
    #animais {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 1%;
        gap: 10px;
    }
}

@media screen and (min-width: 1480px) {
    #animais {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 1%;
        gap: 10px;
    }
}